@value makerDarkBlue, makerWhite, makerLightBlue from '../../common/colors.css';

.header{
    text-align:center;
    background-color:makerDarkBlue; 
    padding:10px 0;
    width:100%;
    position:relative;
}
.logo{
    width:50px;
}
.logo_text{
    font-size:1.7rem;
    color:makerWhite;
}

.button{
    display:block;
    padding:5px 10px;
    border-radius:30px;
    position:absolute;
    right:10px;
    top:10px;
    background:none;
    background-color:makerLightBlue;
    color:makerWhite;
    border:none;
    transition:opacity 0.1s ease;
    cursor:pointer;
}
.button:hover{
    opacity:0.8;
}