@value makerDarkBlue, makerWhite from '../../common/colors.css';
.footer{
    width:100%;
    background-color:makerDarkBlue;
    color:makerWhite;
    text-align:Center;
    padding:1rem 0;
    align-items:flex-end;
}